{% load static %}
<div class="page-section nopadding bg-color" style="padding: 100px 0px; margin-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="element-title">
								<h2 style="font-size: 36px; color: #505050; text-transform: uppercase; line-height: 50px; margin-bottom: 25px; text-align:center;">
									Our Services</h2>
								<p style="font-size: 18px; letter-spacing: 1px; color: #505050; text-align:center;">
									Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
							<div class="service-holder">
								<i class="icon-restaurant1 foodbakery-color"></i>
								<h4 style="font-size: 22px; text-transform: uppercase; color: #4c4c4c; margin-top: 25px; margin-bottom: 15px; font-weight: 600;">
									Multiple Restaurants</h4>
								<p style="font-size: 14px; letter-spacing: 1px; color: #909090;">
									Sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
							<div class="service-holder">
								<i class="icon-fast-food foodbakery-color"></i>
								<h4 style="font-size: 22px; text-transform: uppercase; color: #4c4c4c; margin-top: 25px; margin-bottom: 15px; font-weight: 600;">
									Manage Orders</h4>
								<p style="font-size: 14px; letter-spacing: 1px; color: #909090;">
									Sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
							<div class="service-holder">
								<i class="icon-transport foodbakery-color"></i>
								<h4 style="font-size: 22px; text-transform: uppercase; color: #4c4c4c; margin-top: 25px; margin-bottom: 15px; font-weight: 600;">
									Track Delivery</h4>
								<p style="font-size: 14px; letter-spacing: 1px; color: #909090;">
									Sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
							</div>
						</div>
					</div>
				</div>
</div>